In [1]:
import zipfile
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from tensorflow import keras
import cv2
from skimage.io import imread
from sklearn.metrics import confusion_matrix

WARNING:tensorflow:From c:\Users\Steven\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
# with zipfile.ZipFile('data/emodecode-3000.zip') as zip_ref:
#     zip_ref.extractall('data')

# Train

In [3]:
df_train = pd.read_csv("data/train_set.csv")
df_train

       id_img                                    path     label
0           0        ../data/images/train/angry\0.jpg     angry
1           1        ../data/images/train/angry\1.jpg     angry
2          10       ../data/images/train/angry\10.jpg     angry
3       10002    ../data/images/train/angry\10002.jpg     angry
4       10016    ../data/images/train/angry\10016.jpg     angry
...       ...                                     ...       ...
28816    9969  ../data/images/train/surprise\9969.jpg  surprise
28817    9985  ../data/images/train/surprise\9985.jpg  surprise
28818    9990  ../data/images/train/surprise\9990.jpg  surprise
28819    9992  ../data/images/train/surprise\9992.jpg  surprise
28820    9996  ../data/images/train/surprise\9996.jpg  surprise

[28821 rows x 3 columns]

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28821 entries, 0 to 28820
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id_img  28821 non-null  int64
 1   path    28821 non-null  object
 2   label   28821 non-null  object
dtypes: int64(1), object(2)
memory usage: 675.6+ KB

In [5]:
df_train['label'].value_counts()

label
happy       7164
neutral     4982
sad         4938
fear        4103
angry       3993
surprise    3205
disgust      436
Name: count, dtype: int64

In [6]:
df_train['path'] = df_train['path'].str.replace('\\', '/')
df_train['path'] = df_train['path'].str.replace('data', './data/data/data')
df_train['path'] = df_train['path'].str.replace('../', '')

In [7]:
def cargar_y_convertir_imagen(ruta_imagen):
    image = cv2.imread(ruta_imagen, 0)
    image_array = np.array(image)
    return image_array

df_train['image'] = df_train['path'].apply(cargar_y_convertir_imagen)

In [8]:
df_train

,id_img,path,label,image
0,0,./data/data/data/images/train/angry/0.jpg,angry,"[[72, 78, 81, 75, 59, 54, 63, 61, 55, 55, 62, ..."
1,1,./data/data/data/images/train/angry/1.jpg,angry,"[[152, 149, 147, 157, 146, 133, 114, 138, 170,..."
2,10,./data/data/data/images/train/angry/10.jpg,angry,"[[29, 25, 21, 23, 26, 24, 49, 67, 85, 101, 121..."
3,10002,./data/data/data/images/train/angry/10002.jpg,angry,"[[32, 23, 20, 56, 43, 34, 38, 46, 92, 99, 34, ..."
4,10016,./data/data/data/images/train/angry/10016.jpg,angry,"[[222, 218, 202, 189, 199, 208, 193, 134, 103,..."
...,...,...,...,...
28816,9969,./data/data/data/images/train/surprise/9969.jpg,surprise,"[[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0,..."
28817,9985,./data/data/data/images/train/surprise/9985.jpg,surprise,"[[130, 134, 132, 132, 114, 104, 94, 89, 87, 11..."
28818,9990,./data/data/data/images/train/surprise/9990.jpg,surprise,"[[243, 220, 207, 203, 202, 191, 207, 188, 196,..."
28819,9992,./data/data/data/images/train/surprise/9992.jpg,surprise,"[[253, 252, 254, 250, 255, 232, 111, 90, 91, 1..."
28820,9996,./data/data/data/images/train/surprise/9996.jpg,surprise,"[[213, 218, 214, 218, 225, 217, 215, 207, 202,..."

In [9]:
class_names = ['angry', 'disgust', 'fear', 'happy', 'neutral', 'sad', "surprise"]
class_names_label = {class_name:i for i, class_name in enumerate(class_names)}
class_names_label

{'angry': 0,
 'disgust': 1,
 'fear': 2,
 'happy': 3,
 'neutral': 4,
 'sad': 5,
 'surprise': 6}